.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(5, 33, 52, 0.6);
    /* fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    /* encima de todo */
}

.popup-container {
    background-color: #fff;
    border-radius: 0.6rem;
    padding: 2rem;
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
    animation: fadeIn 0.3s ease;
}

.popup-container.error {
    border: 0.15rem solid #e74c3c;
}

.popup-container.success {
    border: 0.15rem solid #2ecc71;
}

.popup-message {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.popup-button {
    background-color: rgb(5, 33, 52);
    color: white;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.popup-button:hover {
    background-color: rgb(0, 44, 235);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}