.buyer-profile-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    background-color: rgb(255, 255, 255);
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 44, 235, 0.5);
    margin: 2rem auto;
    padding: 2rem;
    width: 70vw;
}

.titulo {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: rgb(0, 0, 0);
}

.logout-container {
    margin-top: 2rem;
}

.logout-button {
    background-color: rgb(5, 33, 52);
    color: white;
    border: none;
    border-radius: 0.6rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
}

.logout-button:hover {
    background-color: rgb(0, 44, 235);
    animation: jump 0.5s ease;
}